

<div style="width:100% ; height: 100vh; background: url(https://thumbs.dreamstime.com/b/italian-food-background-different-types-pasta-health-vegetarian-concept-top-view-copy-space-italian-food-114155664.jpg);background-repeat: no-repeat; background-size: cover; padding-top: 140px;">
<div class="container" style=" margin-left:420px ; width: 500px; border-style: solid; border-width: thin; border-radius: 26px; background-color: #ffff;">

<form  action="/home" name="myform" method="post"  enctype="application/x-www-form-urlencoded" style="margin-left:150px ; margin-top: 20px;">
  <!-- Name input -->
  <div class="form-outline mb-4" ">
    <input type="email" name="email" id="form5Example1" class="form-control" />
    <label class="form-label" for="form5Example1" name="email" >Email Address</label>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="password" name="password" id="form5Example2" class="form-control" />
    <label class="form-label" for="form5Example2" name="password" >Password</label>
  </div>

  <!-- Checkbox -->
  <div class="form-check d-flex justify-content-center mb-4">
    {{!-- <input class="form-check-input me-2" type="checkbox" value="" id="form5Example3" checked />
    <label class="form-check-label" for="form5Example3">
      I have read and agree to the terms
    </label> --}}
  </div>

  <!-- Submit button -->
  <button type="submit" value="register" class="btn btn-primary" >Login</button>
</form>
<div style="margin-top:30px ; margin-left: 150px;">
  <p>Don't have an account?</p>
<a href="signup" > Sign up</a>
</div>


</div>

</div>